.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .container h2 {
        font-size: 24px;
    }

    .container img {
        width: 100%;
    }

    .container .MuiTextField-root {
        width: 100%;
        margin-bottom: 10px;
    }

}
